 * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
 }
 
 /* HEADER */
.container-1 {
    background-color: #1F2937;
}

div.header {
    justify-content: space-between;
    padding-bottom: 50px;
}

.header {
    display: flex;
    padding: 30px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.links {
    display: inline-flex;
    list-style: none;
    gap: 16px;
}

a {
    color: #E5E7EB;
    text-decoration: none;  /* no underline */
    font-size: 18px;
}

.text-image-container1 {
    margin-right: 120px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.header-button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: medium;
    padding: 5px;
    width: 95px;
}



/* MAIN CONTENT */
.main-content-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    padding-top: 50px;
}

.container-main {
    display: flex;
    padding-top: 50px;
    padding-bottom: 130px;
    justify-content: space-evenly;
}

.box1, .box2, .box3, .box4 {
    text-align: center;
}


/* QUOTTE SECTION */
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding: 70px;
}

.quote-author {
text-align: end;
padding-right: 30px;
}

/* MAIN CONTENT 2 */
.main-content-2 {
    font-size: 22px;
    background-color: #3882f6;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 50px;
    margin-right: 100px;
    margin-left: 80px;
    border-radius: 15px;
    color: white;
}

.main-content-2-p2 {
    display: inline-block;
    padding-right: 200px;
}

.button-2 {
    background: border-box;
    border: solid 2px white;
    color: white;
    padding: 3px 20px 3px 19px;
    border-radius: 5px;
    font-size: x-large;
}

.bottom-container {
    text-align: center;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 25px 0px 25px 0px;
}