 * {
    margin: 0;
    padding: 0;
 }
 
.container-1 {
    background-color: #1F2937;
}

div.header {
    justify-content: space-between;
    padding-bottom: 50px;
}

.header {
    display: flex;
    padding: 30px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.links {
    display: inline-flex;
    list-style: none;
    gap: 16px;
}

a {
    color: #E5E7EB;
    text-decoration: none;  /* no underline */
    font-size: 18px;
}

.text-image-container1 {
    margin-right: 120px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: medium;
    padding: 5px;
    width: 95px;
}

.container {
    display: flex;
}